.wa-searchbox-radio {
	background-color: #ff6656;
}
.wa-search-eg-box{
	margin-top:25px;
}
.wa-content-text-orderNow {
	margin-bottom: 25px;
	color: #333333;
}
.wa-radio-inline {
	padding:0px;
	position:relative;
}
.wa-field-lbl {
	font-weight: 100 !important;
	font-size: 15px;
	display: block;
	font-family: 'Open Sans', sans-serif;
	color: #333333;
	text-transform: capitalize;
	word-wrap: break-word;
}
.wa-box-APIproduct-Orderapi{
	margin-bottom:30px;
}
.wa-table-APIproduct-Orderapi{
	margin-top:25px;
}
.wa-table-trheight {
	max-width:975px;
}
.wa-th-price {
	min-width:92px;
}
.wa-btn-next-Orderapi{
	width: 80px;
}
.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
	border-bottom-width: 0px !important;
}
@media (min-width: 976px) {
	.wa-box-APIproduct-Orderapi{
		margin-bottom:15px;
	}
}
@media (max-width: 768px) {
	td ,th {
		word-break: break-word;
		padding: 8px 2px !important;
		text-align: center;
	}
}