.wa-searchbox-radio {
	background-color: #ff6656;
}
.wa-search-eg-box{
	margin-top:25px;
}
.wa-field-value-selection {
	font-family: Open Sans;
	font-weight: normal;
	font-size: 14px;
}
.wa-field-lbl-uname {
	font-family: Open Sans;
	font-weight: bold;
}
.wa-content-spacing{
	line-height:22px;
	word-spacing:5px;
}
.wa-content-text-orderNow {
	margin-bottom: 25px;
	color: #333333;
}
.wa-radio-paymentOptions {
	vertical-align:top;
}
.wa-radio-inline {
	padding:0px;
	position:relative;
}
.wa-table-shopcart-orderapiCheckout,.wa-box-paymentoption-orderapiCheckout {
	margin-top:15px;
}
.wa-field-lbl {
	font-weight: 100 !important;
	font-size: 15px;
	display: block;
	font-family: 'Open Sans', sans-serif;
	color: #333333;
	text-transform: capitalize;
	word-wrap: break-word;
}
.wa-box-payPlan-orderNow {
	height:auto;
}
.wa-box-cardnumber{
	height:250px;
	margin-bottom:30px;
}
.wa-search-eg-box {
	margin-top: 25px;
}
.wa-textbox-width {
	width:100px;
	display: inline;
}
.wa-box-shopcart-orderapiCheckout{
	margin-bottom:30px;
}
.wa-box-paymentoption-orderapiCheckout{
	margin-bottom:30px;
}
.wa-slash{
	font-size:28px;
}
.wa-table-orderapiCheckout {
	max-width:975px;
}
td ,th{
	word-break:break-all;
}
.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
	border-bottom-width: 0px !important;
}
.wa-btn-next-orderapiCheckout{
	width: 100%
}
@media (min-width: 976px) {
	.wa-card-expiry-year{
		margin-left: -23px;
	}
	.wa-box-paymentoption-orderapiCheckout{
		margin-bottom:15px;
	}
	.wa-btn-next-orderapiCheckout {
		width: 80px;
	}
}
@media (max-width: 768px) {
	td ,th {
		word-break: break-word;
		padding: 8px 2px !important;
		text-align: center;
	}
}