.wa-tab-navbar .navbar-nav>.active>a, .wa-tab-navbar .navbar-nav>.active>a:hover,.wa-tab-navbar .nav>li>a:hover{
	background-color:#ffffff!important;
	color:#333333 !important;
}
.navbar.navbar-default.wa-tab-navbar {
	margin-bottom:0px !important;
}
.wa-title {
	margin-top:40px;
	margin-bottom:40px;
}
.wa-col-management {
	margin-top:30px;
	margin-bottom:30px;
}
.wa-tab-navbar {
	min-height:44px !important;
	background-color:#dddddd;
	border-bottom-color: #ffffff;
}
.wa-tab-background {
	border: 1px solid #dddddd;
	padding: 15px;
	margin-top:30px;
}
.wa-box-reverselookup {
	margin-bottom:30px;
}
@media (min-width: 768px) {
	li.wa-border-right-tab {
		border-right:1px solid #C0C0C0;
	}
	.wa-tab-background {
		border-top: 0px;
		margin-top:0px;
	}
}