.wa-searchbox-radio {
	background-color: #ff6656;
}
.wa-search-eg-box{
	margin-top:25px;
}
.wa-search-eg-box{
	margin-top:25px;
}
.wa-box-paymentpolicy-whoissp {
	height:auto;
}
.wa-content-text-whoissp {
	margin-bottom: 25px;
	color: #333333;
}
.wa-margin-sp{
	margin-bottom: 30px;
}
.wa-subtitle-paypal-whoissp{
	font-family:Open Sans;
	font-weight:bold;
}
/*
.twidth{
	width:120px;
} */
.wa-table-trheight{
	height:48px;
}
.wa-table-whoissp  {
	max-width:975px;
}
td ,th{
	word-break:break-all;
}
.wa-img-check-td{
	margin: 0 auto;
	min-width: 33px;
}
.wa-box-licenseterms-whoissp {
	height:auto;
}
.wa-title-whoissp {
	margin-bottom:0px;
}
.wa-btn-next-whoissp{
	width: 80px;
}
.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
	border-bottom-width: 0px !important;
}
@media (max-width: 768px) {
	td ,th{
		padding:8px 2px !important;
	}
	.wa-lbl-radio{
		text-align:center;
	}
	.wa-input-radio-table {
		margin:0 auto !important;
		display:table;
	}
}
@media (min-width: 976px) {
	.wa-box-paymentpolicy-whoissp {
		height:232px;
	}
	.wa-box-licenseterms-whoissp {
		height:232px;
	}
	.wa-box-pricingAPIsp-whoissp{
		margin-bottom: 30px;
	}
}