 .flt:hover, .flt:hover u, a.fl:hover {
                text-decoration:underline
            }
         
            #footer {
                font-size:10pt;
                min-height:49px;
                position:relative
            }
            #footer>div {
                border-top:1px solid #ebebeb;
                bottom:0;
                padding-top:3px;
                position:absolute;
                width:100%
            }
         .ftl, #footer a {
          color: #666666;
          margin: 2px 10px 0;
        }
            #fll {
                margin-left:auto;
        margin-right:auto;
                text-align:center;
                width:100%
            }
            
            #ftby>div, #fll>div, #footer a {
                display:inline-block
            }
            @media only screen and(min-width:1222px) {
                #ftby {
                    margin: 0 44px
                }
            }
            